openapi: 3.0.0
info:
  title: Soccer v4
  contact:
    name: Sportradar
    url: ""
    email: support@sportradar.com
  version: 4.0.0
  x-sr-package: soccer
  x-sr-version: v4
servers:
- url: https://api.sportradar.com/soccer/trial/v4
  description: Trial Environment
- url: https://api.sportradar.com/soccer/production/v4
  description: Production Environment
paths:
  /{locale}/competitions:
    get:
      description: |
        Get a list of all competitions.
      operationId: getCompetitions
      parameters:
      - $ref: '#/components/parameters/locale'
      responses:
        "200":
          $ref: '#/components/responses/competitions'
      security:
      - ApiKeyAuth: []
      summary: lists all competitions
      tags:
      - competitions
      x-sr-name: competitions
  /{locale}/competitions/{urn_competition}/info:
    get:
      description: |
        info for a competition
      operationId: getCompetitionInfo
      parameters:
      - $ref: '#/components/parameters/urn_competition'
      - $ref: '#/components/parameters/locale'
      responses:
        "200":
          $ref: '#/components/responses/competition_info'
      security:
      - ApiKeyAuth: []
      summary: info for a competition
      tags:
      - competitions
      x-sr-name: competition_info
  /{locale}/competitions/{urn_competition}/seasons:
    get:
      description: |
        Get a list of all seasons for a competition.
      operationId: getCompetitionSeasons
      parameters:
      - $ref: '#/components/parameters/urn_competition'
      - $ref: '#/components/parameters/locale'
      responses:
        "200":
          $ref: '#/components/responses/competition_seasons'
      security:
      - ApiKeyAuth: []
      summary: lists all seasons for a competition
      tags:
      - competitions
      - seasons
      x-sr-name: competition_seasons
  /{locale}/competitors/{urn_competitor}/profile:
    get:
      description: |
        Get information and players for the given urn.
      operationId: getCompetitorProfile
      parameters:
      - $ref: '#/components/parameters/urn_competitor'
      - $ref: '#/components/parameters/locale'
      responses:
        "200":
          $ref: '#/components/responses/competitor_profile'
      security:
      - ApiKeyAuth: []
      summary: get information and players for a competitor
      tags:
      - competitors
      x-sr-name: competitor_profile
  /{locale}/competitors/{urn_competitor}/schedules:
    get:
      description: |
        List last 30 schedules for a competitor, and all upcoming scheduled sport events.
      operationId: getCompetitorSchedules
      parameters:
      - $ref: '#/components/parameters/urn_competitor'
      - $ref: '#/components/parameters/locale'
      responses:
        "200":
          $ref: '#/components/responses/competitor_schedules'
      security:
      - ApiKeyAuth: []
      summary: list previous and upcoming schedules for a competitor
      tags:
      - competitors
      - schedules
      x-sr-name: competitor_schedules
  /{locale}/competitors/{urn_competitor}/summaries:
    get:
      description: |
        List last 30 summaries for a competitor, and all upcoming scheduled sport events.
      operationId: getCompetitorSummaries
      parameters:
      - $ref: '#/components/parameters/urn_competitor'
      - $ref: '#/components/parameters/locale'
      responses:
        "200":
          $ref: '#/components/responses/competitor_summaries'
      security:
      - ApiKeyAuth: []
      summary: list previous and upcoming summaries for a competitor
      tags:
      - competitors
      - summaries
      x-sr-name: competitor_summaries
  /{locale}/competitors/{urn_competitor}/versus/{urn_competitor2}/summaries:
    get:
      description: |
        List last 10 results and the next 10 schedules for a competitor against another competitor.
      operationId: getCompetitorVersusSummaries
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/urn_competitor'
      - $ref: '#/components/parameters/urn_competitor2'
      responses:
        "200":
          $ref: '#/components/responses/competitor_versus_summaries'
      security:
      - ApiKeyAuth: []
      summary: list last 10 results and the next 10 schedules for a competitor against
        another competitor
      tags:
      - competitors
      - summaries
      x-sr-name: competitor_versus_summaries
  /{locale}/competitors/mappings:
    get:
      operationId: getCompetitorMappings
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/limit'
      responses:
        "200":
          $ref: '#/components/responses/competitor_mappings'
      security:
      - ApiKeyAuth: []
      summary: list all competitor mappings between external and internal ids
      tags:
      - competitors
      - mappings
      x-sr-name: competitor_mappings
  /{locale}/competitors/merge_mappings:
    get:
      description: |
        Get old and new IDs of players that have been merged
      operationId: getCompetitorMergeMappings
      parameters:
      - $ref: '#/components/parameters/locale'
      responses:
        "200":
          $ref: '#/components/responses/competitor_merge_mappings'
      security:
      - ApiKeyAuth: []
      summary: Get old and new IDs of players that have been merged
      tags:
      - competitors
      - mappings
      - merge
      x-sr-name: competitor_merge_mappings
  /{locale}/players/{urn_player}/profile:
    get:
      description: |
        Get the player profile for the given urn.
      operationId: getPlayerProfile
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/urn_player'
      responses:
        "200":
          $ref: '#/components/responses/player_profile'
      security:
      - ApiKeyAuth: []
      summary: get a player profile
      tags:
      - players
      x-sr-name: player_profile
  /{locale}/players/{urn_player}/schedules:
    get:
      description: |
        Get a list of last 10 scheduled sport events, which the player was a part of.
      operationId: getPlayerSchedules
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/urn_player'
      responses:
        "200":
          $ref: '#/components/responses/player_schedules'
      security:
      - ApiKeyAuth: []
      summary: get a list of last 10 scheduled sport events, which the player was
        a part of
      tags:
      - players
      - schedules
      x-sr-name: player_schedules
  /{locale}/players/{urn_player}/summaries:
    get:
      description: |
        Get a list of last 10 sport event summaries which the player was a part of.
      operationId: getPlayerSummaries
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/urn_player'
      responses:
        "200":
          $ref: '#/components/responses/player_summaries'
      security:
      - ApiKeyAuth: []
      summary: get a list of last 10 sport event summaries which the player was a
        part of
      tags:
      - players
      - summaries
      x-sr-name: player_summaries
  /{locale}/players/mappings:
    get:
      operationId: getPlayerMappings
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/limit'
      responses:
        "200":
          $ref: '#/components/responses/player_mappings'
      security:
      - ApiKeyAuth: []
      summary: list all player mappings between external and internal ids
      tags:
      - players
      - mappings
      x-sr-name: player_mappings
  /{locale}/players/merge_mappings:
    get:
      description: |
        Get old and new IDs of players that have been merged
      operationId: getPlayerMergeMappings
      parameters:
      - $ref: '#/components/parameters/locale'
      responses:
        "200":
          $ref: '#/components/responses/player_merge_mappings'
      security:
      - ApiKeyAuth: []
      summary: Get old and new IDs of players that have been merged
      tags:
      - players
      - mappings
      - merge
      x-sr-name: player_merge_mappings
  /{locale}/schedules/{urn_date}/schedules:
    get:
      description: |
        Get a list of schedules for all sport events in a day (any status).
      operationId: getScheduleSchedules
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/urn_date'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        "200":
          $ref: '#/components/responses/schedule_schedules'
      security:
      - ApiKeyAuth: []
      summary: get a list of schedules for all sport events in a day (any status)
      tags:
      - schedules
      x-sr-name: schedule_schedules
  /{locale}/schedules/{urn_date}/summaries:
    get:
      description: |
        Get a list of summaries for all sport events in a day (any status).
      operationId: getScheduleSummaries
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/urn_date'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        "200":
          $ref: '#/components/responses/schedule_summaries'
      security:
      - ApiKeyAuth: []
      summary: get a list of summaries for all sport events in a day (any status)
      tags:
      - schedules
      - summaries
      x-sr-name: schedule_summaries
  /{locale}/schedules/live/schedules:
    get:
      description: |
        Get a list of scheduled sport events which are live right now. Sport events appear in the feed 10 minutes before the scheduled start time and are removed 10 minutes after the sport event is ended.
      operationId: getScheduleLiveSchedules
      parameters:
      - $ref: '#/components/parameters/locale'
      responses:
        "200":
          $ref: '#/components/responses/schedule_live_schedules'
      security:
      - ApiKeyAuth: []
      summary: get a list of live sport events
      tags:
      - schedules
      x-sr-name: schedule_live_schedules
  /{locale}/schedules/live/summaries:
    get:
      description: |
        Get a list of summaries for sport events which are live right now. Sport events appear in the feed 10 minutes before the scheduled start time and are removed 10 minutes after the sport event is ended.
      operationId: getScheduleLiveSummaries
      parameters:
      - $ref: '#/components/parameters/locale'
      responses:
        "200":
          $ref: '#/components/responses/schedule_live_summaries'
      security:
      - ApiKeyAuth: []
      summary: get a list of summaries for live sport events
      tags:
      - schedules
      - summaries
      x-sr-name: schedule_live_summaries
  /{locale}/schedules/live/timelines:
    get:
      description: |
        Get a list of timelines for sport events which are live right now. Sport events appear in the feed 10 minutes before the scheduled start time and are removed 10 minutes after the sport event is ended.
      operationId: getLiveTimelines
      parameters:
      - $ref: '#/components/parameters/locale'
      responses:
        "200":
          $ref: '#/components/responses/schedule_live_timelines'
      security:
      - ApiKeyAuth: []
      summary: get a list of timelines for live sport events
      tags:
      - schedules
      - timelines
      x-sr-name: schedule_live_timelines
  /{locale}/schedules/live/timelines_delta:
    get:
      description: |
        Get the summary and timelines for all sport events where something happened the last 10 seconds, with only the events of the last 10 seconds
      operationId: getLiveTimelinesDelta
      parameters:
      - $ref: '#/components/parameters/locale'
      responses:
        "200":
          $ref: '#/components/responses/schedule_live_timelines_delta'
      security:
      - ApiKeyAuth: []
      summary: get the summary and timelines for all sport events where something
        happened the last 10 seconds, with only the events of the last 10 seconds
      tags:
      - schedules
      - timelines
      x-sr-name: schedule_live_timelines_delta
  /{locale}/seasons:
    get:
      description: |
        Get a list of all seasons.
      operationId: getSeasons
      parameters:
      - $ref: '#/components/parameters/locale'
      responses:
        "200":
          $ref: '#/components/responses/seasons'
      security:
      - ApiKeyAuth: []
      summary: lists all seasons
      tags:
      - seasons
      x-sr-name: seasons
  /{locale}/seasons/{urn_season}/competitor_players:
    get:
      description: |
        Get a list of competitors and their players in a season
      operationId: getSeasonCompetitorPlayers
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/urn_season'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      responses:
        "200":
          $ref: '#/components/responses/season_competitor_players'
      security:
      - ApiKeyAuth: []
      summary: get a list of competitors and their players in a season
      tags:
      - seasons
      - competitors
      - players
      x-sr-name: season_competitor_players
  /{locale}/seasons/{urn_season}/competitors:
    get:
      description: |
        Get a list of competitors in a season
      operationId: getSeasonCompetitors
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/urn_season'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/season_competitor_limit'
      - $ref: '#/components/parameters/start'
      responses:
        "200":
          $ref: '#/components/responses/season_competitors'
      security:
      - ApiKeyAuth: []
      summary: get a list of competitors in a season
      tags:
      - seasons
      - competitors
      x-sr-name: season_competitors
  /{locale}/seasons/{urn_season}/competitors/{urn_competitor}/statistics:
    get:
      description: |
        List competitor and player season statistics for a given season
      operationId: getSeasonCompetitorStatistics
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/urn_season'
      - $ref: '#/components/parameters/urn_competitor'
      responses:
        "200":
          $ref: '#/components/responses/season_competitor_statistics'
      security:
      - ApiKeyAuth: []
      summary: list competitor and player season statistics for a given season
      tags:
      - seasons
      - competitors
      - statistics
      x-sr-name: season_competitor_statistics
  /{locale}/seasons/{urn_season}/form_standings:
    get:
      description: |
        Get form standings for a season for up to last 10 matches (6 by default).
      operationId: getSeasonFormStandings
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/urn_season'
      - $ref: '#/components/parameters/round'
      - $ref: '#/components/parameters/limit'
      responses:
        "200":
          $ref: '#/components/responses/season_form_standings'
      security:
      - ApiKeyAuth: []
      summary: get the form standings for a season
      tags:
      - seasons
      x-sr-name: season_form_standings
  /{locale}/seasons/{urn_season}/info:
    get:
      description: |
        Get information about season and competitors.
      operationId: getSeasonInfo
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/urn_season'
      responses:
        "200":
          $ref: '#/components/responses/season_info'
      security:
      - ApiKeyAuth: []
      summary: get information about season and competitors
      tags:
      - seasons
      x-sr-name: season_info
  /{locale}/seasons/{urn_season}/leaders:
    get:
      description: |
        Show season leader lists. Each list type is limited to the 10 top positions.
      operationId: getSeasonLeaders
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/urn_season'
      responses:
        "200":
          $ref: '#/components/responses/season_leaders'
      security:
      - ApiKeyAuth: []
      summary: show leaders for categories for a season
      tags:
      - seasons
      x-sr-name: season_leaders
  /{locale}/seasons/{urn_season}/lineups:
    get:
      description: Show sport events, including lineups for a season.
      operationId: getSeasonLineups
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/urn_season'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/limit'
      responses:
        "200":
          $ref: '#/components/responses/season_lineups'
      security:
      - ApiKeyAuth: []
      summary: show sport events and lineups for a season
      tags:
      - seasons
      x-sr-name: season_lineups
  /{locale}/seasons/{urn_season}/missing_players:
    get:
      operationId: getSeasonMissingPlayers
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/urn_season'
      responses:
        "200":
          $ref: '#/components/responses/season_missing_players'
      security:
      - ApiKeyAuth: []
      summary: list all missing players for a season
      tags:
      - players
      - seasons
      x-sr-name: season_missing_players
  /{locale}/seasons/{urn_season}/over_under_statistics:
    get:
      description: |
        Show over under statistics for all teams in a season
      operationId: getSeasonOverUnderStatistics
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/urn_season'
      responses:
        "200":
          $ref: '#/components/responses/season_over_under_statistics'
      security:
      - ApiKeyAuth: []
      summary: show over under statistics for all competitors in a season
      tags:
      - seasons
      x-sr-name: season_over_under_statistics
  /{locale}/seasons/{urn_season}/players:
    get:
      description: |
        Get a list of players in a season
      operationId: getSeasonPlayers
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/urn_season'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      responses:
        "200":
          $ref: '#/components/responses/season_players'
      security:
      - ApiKeyAuth: []
      summary: get a list of players in a season
      tags:
      - seasons
      - players
      x-sr-name: season_players
  /{locale}/seasons/{urn_season}/probabilities:
    get:
      description: |
        Show a probabilities for all sport events in a season.
      operationId: getSeasonProbabilities
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/urn_season'
      responses:
        "200":
          $ref: '#/components/responses/season_probabilities'
      security:
      - ApiKeyAuth: []
      summary: show probabilities for all sport events in a season
      tags:
      - seasons
      x-sr-name: season_probabilities
  /{locale}/seasons/{urn_season}/schedules:
    get:
      description: |
        Show schedule for a full season.
      operationId: getSeasonSchedules
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/urn_season'
      responses:
        "200":
          $ref: '#/components/responses/season_schedules'
      security:
      - ApiKeyAuth: []
      summary: show schedules for a full season
      tags:
      - seasons
      - schedule
      x-sr-name: season_schedules
  /{locale}/seasons/{urn_season}/simple_team_mappings:
    get:
      description: |
        Get a list of simple team mappings in a season
      operationId: getSeasonSimpleTeamMappings
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/urn_season'
      responses:
        "200":
          $ref: '#/components/responses/season_simple_team_mappings'
      security:
      - ApiKeyAuth: []
      summary: get a list of simple team mappings in a season
      tags:
      - seasons
      - mappings
      x-sr-name: season_simple_team_mappings
  /{locale}/seasons/{urn_season}/simple_tournament_mappings:
    get:
      description: |
        Get a list of simple tournament mappings in a season
      operationId: getSeasonSimpleTournamentMappings
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/urn_season'
      responses:
        "200":
          $ref: '#/components/responses/season_simple_tournament_mappings'
      security:
      - ApiKeyAuth: []
      summary: get a list of simple tournaments mappings in a season
      tags:
      - seasons
      - mappings
      x-sr-name: season_simple_tournament_mappings
  /{locale}/seasons/{urn_season}/stages_groups_cup_rounds:
    get:
      description: |
        Get information about season stages, groups and cup rounds (brackets).
      operationId: getSeasonStagesGroupsCupRounds
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/urn_season'
      responses:
        "200":
          $ref: '#/components/responses/season_brackets'
      security:
      - ApiKeyAuth: []
      summary: get information about season stages, groups and cup_rounds (brackets)
      tags:
      - seasons
      x-sr-name: season_stages_groups_cup_rounds
  /{locale}/seasons/{urn_season}/standings:
    get:
      description: |
        Get the standings for a season.
      operationId: getSeasonStandings
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/round'
      - $ref: '#/components/parameters/urn_season'
      - $ref: '#/components/parameters/live'
      responses:
        "200":
          $ref: '#/components/responses/season_standings'
      security:
      - ApiKeyAuth: []
      summary: get the standings for a season
      tags:
      - seasons
      x-sr-name: season_standings
  /{locale}/seasons/{urn_season}/summaries:
    get:
      description: |
        Get a list of summaries for all sport events in a season (any status).
      operationId: getSeasonSummaries
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/urn_season'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      responses:
        "200":
          $ref: '#/components/responses/season_summaries'
      security:
      - ApiKeyAuth: []
      summary: get a list of summaries for all sport events in a season (any status)
      tags:
      - seasons
      - summaries
      x-sr-name: season_summaries
  /{locale}/seasons/{urn_season}/transfers:
    get:
      description: |
        Show season transfers lists.
      operationId: getSeasonTransfers
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/urn_season'
      responses:
        "200":
          $ref: '#/components/responses/season_transfers'
      security:
      - ApiKeyAuth: []
      summary: show transfers for a season
      tags:
      - seasons
      x-sr-name: season_transfers
  /{locale}/sport_events/{urn_sport_event}/fun_facts:
    get:
      description: |
        Show fun facts for sport event.
      operationId: getSportEventFunFacts
      parameters:
      - $ref: '#/components/parameters/urn_sport_event'
      - $ref: '#/components/parameters/locale'
      responses:
        "200":
          $ref: '#/components/responses/sport_event_fun_facts'
      security:
      - ApiKeyAuth: []
      summary: fun facts for sport event
      tags:
      - sport_events
      x-sr-name: sport_event_fun_facts
  /{locale}/sport_events/{urn_sport_event}/league_timeline:
    get:
      description: |
        Show a summary and timeline for one sport event, including data from official sources.
      operationId: getSportEventLeagueTimeline
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/urn_sport_event'
      responses:
        "200":
          $ref: '#/components/responses/sport_event_league_timeline'
      security:
      - ApiKeyAuth: []
      summary: show summary and timeline for one sport event
      tags:
      - sport_events
      - timelines
      x-sr-name: sport_event_league_timeline
  /{locale}/sport_events/{urn_sport_event}/lineups:
    get:
      description: |
        Show a sport event, including lineups.
      operationId: getSportEventLineups
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/urn_sport_event'
      responses:
        "200":
          $ref: '#/components/responses/sport_event_lineups'
      security:
      - ApiKeyAuth: []
      summary: show sport event and lineup
      tags:
      - sport_events
      x-sr-name: sport_event_lineups
  /{locale}/sport_events/{urn_sport_event}/summary:
    get:
      description: |
        Show a summary for one sport event, including results.
      operationId: getSportEventSummary
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/urn_sport_event'
      responses:
        "200":
          $ref: '#/components/responses/sport_event_summary'
      security:
      - ApiKeyAuth: []
      summary: show summary for one sport event
      tags:
      - sport_events
      - summaries
      x-sr-name: sport_event_summary
  /{locale}/sport_events/{urn_sport_event}/timeline:
    get:
      description: |
        Show a summary and timeline for one sport event, including results.
      operationId: getSportEventTimeline
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/urn_sport_event'
      responses:
        "200":
          $ref: '#/components/responses/sport_event_timeline'
      security:
      - ApiKeyAuth: []
      summary: show summary and timeline for one sport event
      tags:
      - sport_events
      - timelines
      x-sr-name: sport_event_timeline
  /{locale}/sport_events/created:
    get:
      description: |
        Lists sport events which has been created the last 24 hours
      operationId: getSportEventsCreated
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/created_endpoints_limit'
      responses:
        "200":
          $ref: '#/components/responses/sport_events_created'
      security:
      - ApiKeyAuth: []
      summary: sport events which has been created the last 24 hours
      tags:
      - sport_events
      x-sr-name: sport_events_created
  /{locale}/sport_events/removed:
    get:
      description: |
        Lists sport events which has been removed or disabled.
      operationId: getSportEventsRemoved
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/updated_removed_endpoints_limit'
      responses:
        "200":
          $ref: '#/components/responses/sport_events_removed'
      security:
      - ApiKeyAuth: []
      summary: sport events which has been removed
      tags:
      - sport_events
      x-sr-name: sport_events_removed
  /{locale}/sport_events/updated:
    get:
      description: |
        Lists sport events which has been updated the last 24 hours
      operationId: getSportEventsUpdated
      parameters:
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/updated_removed_endpoints_limit'
      responses:
        "200":
          $ref: '#/components/responses/sport_events_updated'
      security:
      - ApiKeyAuth: []
      summary: sport events which has been updated the last 24 hours
      tags:
      - sport_events
      x-sr-name: sport_events_updated
  /stream/events/subscribe:
    get:
      operationId: getStreamEvents
      parameters:
      - $ref: '#/components/parameters/stream_format'
      - $ref: '#/components/parameters/stream_event_id'
      - $ref: '#/components/parameters/stream_competition_id'
      - $ref: '#/components/parameters/stream_season_id'
      - $ref: '#/components/parameters/stream_sport_id'
      - $ref: '#/components/parameters/stream_sport_event_id'
      responses:
        "200":
          $ref: '#/components/responses/stream_events'
      security:
      - ApiKeyAuth: []
      summary: Returns detailed, real-time information on every game event
      tags:
      - push
      x-sr-name: stream_events
  /stream/statistics/subscribe:
    get:
      operationId: getStreamStatistics
      parameters:
      - $ref: '#/components/parameters/stream_format'
      - $ref: '#/components/parameters/stream_event_id'
      - $ref: '#/components/parameters/stream_competition_id'
      - $ref: '#/components/parameters/stream_season_id'
      - $ref: '#/components/parameters/stream_sport_id'
      - $ref: '#/components/parameters/stream_sport_event_id'
      responses:
        "200":
          $ref: '#/components/responses/stream_statistics'
      security:
      - ApiKeyAuth: []
      summary: Returns detailed, real-time information on every game statistics
      tags:
      - push
      x-sr-name: stream_statistics
components:
  schemas:
    ball_location:
      properties:
        order:
          example: 1
          type: integer
          xml:
            attribute: true
        qualifier:
          $ref: '#/components/schemas/enum_competitor_qualifier'
        x:
          example: 35
          type: integer
          xml:
            attribute: true
        "y":
          example: 48
          type: integer
          xml:
            attribute: true
      type: object
      xml:
        name: ball_location
        x-sr-object-name: BallLocation
    base_competition:
      additionalProperties: false
      properties:
        alternative_name:
          type: string
          xml:
            attribute: true
        gender:
          type: string
          xml:
            attribute: true
        id:
          description: Competition URN (sr:competition:x)
          type: string
          xml:
            attribute: true
        name:
          type: string
          xml:
            attribute: true
        parent_id:
          type: string
          xml:
            attribute: true
        type:
          type: string
          xml:
            attribute: true
      required:
      - id
      - name
      type: object
      xml:
        name: competition
    base_competition_with_category:
      additionalProperties: false
      properties:
        alternative_name:
          type: string
          xml:
            attribute: true
        category:
          $ref: '#/components/schemas/category'
        gender:
          type: string
          xml:
            attribute: true
        id:
          description: Competition URN (sr:competition:x)
          type: string
          xml:
            attribute: true
        name:
          type: string
          xml:
            attribute: true
        parent_id:
          type: string
          xml:
            attribute: true
        type:
          type: string
          xml:
            attribute: true
      required:
      - id
      - name
      type: object
      xml:
        name: competition
        x-sr-object-name: CompetitionWithCategory
    base_competitor:
      additionalProperties: false
      properties:
        abbreviation:
          type: string
          xml:
            attribute: true
        age_group:
          enum:
          - U23
          - U22
          - U21
          - U20
          - U19
          - U18
          - U17
          - U16
          - U15
          - U14
          - U13
          - U12
          - U11
          - Y10
          - Juniors
          - Youth
          - Unconfirmed
          type: string
          xml:
            attribute: true
            name: CompetitorAgeGroupEnum
        country:
          type: string
          xml:
            attribute: true
        country_code:
          type: string
          xml:
            attribute: true
        gender:
          type: string
          xml:
            attribute: true
        id:
          description: Competitor URN (sr:competitor:x)
          type: string
          xml:
            attribute: true
        name:
          type: string
          xml:
            attribute: true
        qualifier:
          $ref: '#/components/schemas/enum_competitor_qualifier'
        virtual:
          type: boolean
          xml:
            attribute: true
      required:
      - id
      - name
      type: object
      xml:
        name: competitor
        x-sr-object-name: Competitor
    base_lineup_competitor:
      additionalProperties: false
      properties:
        abbreviation:
          type: string
          xml:
            attribute: true
        age_group:
          enum:
          - U23
          - U22
          - U21
          - U20
          - U19
          - U18
          - U17
          - U16
          - U15
          - U14
          - U13
          - U12
          - U11
          - Y10
          - Juniors
          - Youth
          - Unconfirmed
          type: string
          xml:
            attribute: true
            name: LineupCompetitorAgeGroupEnum
        country:
          type: string
          xml:
            attribute: true
        country_code:
          type: string
          xml:
            attribute: true
        gender:
          type: string
          xml:
            attribute: true
        id:
          description: Competitor URN (sr:competitor:x)
          type: string
          xml:
            attribute: true
        name:
          type: string
          xml:
            attribute: true
        players:
          items:
            $ref: '#/components/schemas/lineup_player'
          type: array
          xml:
            name: players
            wrapped: true
            x-sr-object-name: CompetitorLineupPlayers
        qualifier:
          type: string
          xml:
            attribute: true
        virtual:
          type: boolean
          xml:
            attribute: true
      required:
      - id
      - name
      type: object
      xml:
        name: competitor
        x-sr-object-name: CompetitorLineup
    base_lineup_player:
      additionalProperties: false
      properties:
        country_code:
          type: string
          xml:
            attribute: true
        country_of_birth:
          type: string
          xml:
            attribute: true
        date_of_birth:
          description: YYYY-MM-DD
          format: date
          type: string
          xml:
            attribute: true
        gender:
          $ref: '#/components/schemas/enum_gender'
        height:
          description: Height in cm
          type: integer
          xml:
            attribute: true
        id:
          type: string
          xml:
            attribute: true
        jersey_number:
          type: integer
          xml:
            attribute: true
        loaned_to_competitor_id:
          type: string
          xml:
            attribute: true
        name:
          type: string
          xml:
            attribute: true
        nationality:
          type: string
          xml:
            attribute: true
        nickname:
          type: string
          xml:
            attribute: true
        on_loan:
          type: boolean
          xml:
            attribute: true
        place_of_birth:
          type: string
          xml:
            attribute: true
        played:
          type: boolean
          xml:
            attribute: true
        preferred_foot:
          enum:
          - right
          - left
          - both
          type: string
          xml:
            attribute: true
            name: PlayerPreferredFootEnum
        starter:
          type: boolean
          xml:
            attribute: true
        type:
          $ref: '#/components/schemas/enum_player_type'
        weight:
          description: Weight in kg
          type: integer
          xml:
            attribute: true
      required:
      - id
      - name
      type: object
      xml:
        name: player
        x-sr-object-name: LineupPlayer
    base_manager:
      additionalProperties: false
      properties:
        country_code:
          type: string
          xml:
            attribute: true
        date_of_birth:
          description: YYYY-MM-DD
          format: date
          type: string
          xml:
            attribute: true
        gender:
          $ref: '#/components/schemas/enum_gender'
        id:
          type: string
          xml:
            attribute: true
        name:
          type: string
          xml:
            attribute: true
        nationality:
          type: string
          xml:
            attribute: true
        nickname:
          type: string
          xml:
            attribute: true
      required:
      - id
      - name
      type: object
      xml:
        name: manager
    base_player:
      additionalProperties: false
      properties:
        country_code:
          type: string
          xml:
            attribute: true
        date_of_birth:
          description: YYYY-MM-DD
          format: date
          type: string
          xml:
            attribute: true
        gender:
          $ref: '#/components/schemas/enum_gender'
        height:
          description: Height in cm
          type: integer
          xml:
            attribute: true
        id:
          type: string
          xml:
            attribute: true
        jersey_number:
          type: integer
          xml:
            attribute: true
        loaned_to_competitor_id:
          type: string
          xml:
            attribute: true
        name:
          type: string
          xml:
            attribute: true
        nationality:
          type: string
          xml:
            attribute: true
        nickname:
          type: string
          xml:
            attribute: true
        type:
          $ref: '#/components/schemas/enum_player_type'
        weight:
          description: Weight in kg
          type: integer
          xml:
            attribute: true
      required:
      - id
      - name
      type: object
      xml:
        name: player
    base_season_stage_group:
      additionalProperties: false
      properties:
        competitors:
          items:
            $ref: '#/components/schemas/competitor'
          type: array
          xml:
            name: competitors
            wrapped: true
            x-sr-object-name: SeasonStageGroupCompetitors
        group_name:
          type: string
          xml:
            attribute: true
        id:
          type: string
          xml:
            attribute: true
        max_rounds:
          type: integer
          xml:
            attribute: true
        name:
          type: string
          xml:
            attribute: true
        parent_group_id:
          type: string
          xml:
            attribute: true
      required:
      - id
      - name
      type: object
      xml:
        name: group
        x-sr-object-name: SeasonStageGroup
    base_sport_event_conditions:
      additionalProperties: false
      properties:
        attendance:
          additionalProperties: false
          properties:
            count:
              type: integer
              xml:
                attribute: true
          type: object
          xml:
            name: attendance
            x-sr-object-name: SportEventConditionsAttendance
        comment:
          properties:
            text:
              type: string
              xml:
                attribute: true
          type: object
          xml:
            name: comment
            x-sr-object-name: SportEventConditionsComment
        ground:
          properties:
            neutral:
              type: boolean
              xml:
                attribute: true
          type: object
          xml:
            name: ground
            x-sr-object-name: SportEventConditionsGround
        referees:
          items:
            $ref: '#/components/schemas/referee'
          type: array
          xml:
            name: referees
            wrapped: true
            x-sr-object-name: SportEventConditionsReferees
        weather:
          $ref: '#/components/schemas/weather'
      type: object
      xml:
        name: sport_event_conditions
        x-sr-object-name: SportEventConditions
    base_sport_event_status:
      additionalProperties: false
      properties:
        aggregate_away_score:
          type: integer
          xml:
            attribute: true
        aggregate_home_score:
          type: integer
          xml:
            attribute: true
        aggregate_winner_id:
          pattern: ^sr:competitor:\d+$
          type: string
          xml:
            attribute: true
        away_normaltime_score:
          type: integer
          xml:
            attribute: true
        away_overtime_score:
          type: integer
          xml:
            attribute: true
        away_score:
          type: integer
          xml:
            attribute: true
        decided_by_fed:
          type: boolean
          xml:
            attribute: true
        home_normaltime_score:
          type: integer
          xml:
            attribute: true
        home_overtime_score:
          type: integer
          xml:
            attribute: true
        home_score:
          type: integer
          xml:
            attribute: true
        match_status:
          $ref: '#/components/schemas/enum_sport_event_match_status'
        match_tie:
          type: boolean
          xml:
            attribute: true
        period_scores:
          items:
            $ref: '#/components/schemas/period_score'
          type: array
          xml:
            name: period_scores
            wrapped: true
        scout_abandoned:
          description: Scout has abandoned the match, no further updates.
          type: boolean
          xml:
            attribute: true
        status:
          $ref: '#/components/schemas/enum_sport_event_status'
        winner_id:
          description: Competitor URN (sr:competitor:x)
          type: string
          xml:
            attribute: true
      required:
      - status
      type: object
      xml:
        name: sport_event_status
    base_standing_competitor:
      additionalProperties: false
      properties:
        change:
          type: integer
          xml:
            attribute: true
        comments:
          items:
            $ref: '#/components/schemas/standing_competitor_comment'
          type: array
          xml:
            name: comments
            wrapped: true
            x-sr-object-name: StandingGroupComments
        competitor:
          $ref: '#/components/schemas/competitor'
        current_outcome:
          type: string
          xml:
            attribute: true
        draw:
          type: integer
          xml:
            attribute: true
        goals_against:
          type: integer
          xml:
            attribute: true
        goals_diff:
          type: integer
          xml:
            attribute: true
        goals_for:
          type: integer
          xml:
            attribute: true
        loss:
          type: integer
          xml:
            attribute: true
        played:
          type: integer
          xml:
            attribute: true
        points:
          type: integer
          xml:
            attribute: true
        rank:
          type: integer
          xml:
            attribute: true
        win:
          type: integer
          xml:
            attribute: true
      type: object
      xml:
        name: standing
        x-sr-object-name: competitor_standing
    base_summary:
      additionalProperties: false
      properties:
        sport_event:
          $ref: '#/components/schemas/sport_event'
        sport_event_status:
          $ref: '#/components/schemas/sport_event_status'
      required:
      - sport_event
      - sport_event_status
      type: object
      xml:
        name: summary
    category:
      additionalProperties: false
      properties:
        country_code:
          description: ISO 3361-1 A3 Country Code
          type: string
          xml:
            attribute: true
        id:
          description: Category URN (sr:category:x)
          type: string
          xml:
            attribute: true
        name:
          type: string
          xml:
            attribute: true
      required:
      - id
      - name
      type: object
      xml:
        name: category
    clock:
      properties:
        played:
          type: string
          xml:
            attribute: true
        stoppage_time_announced:
          type: string
          xml:
            attribute: true
        stoppage_time_played:
          type: string
          xml:
            attribute: true
      type: object
      xml:
        name: clock
        x-sr-object-name: Clock
    commentary:
      additionalProperties: false
      properties:
        text:
          example: Its a goal kick for the away team in Manchester.
          type: string
          xml:
            attribute: true
      type: object
      xml:
        name: commentary
    competition:
      additionalProperties: false
      properties:
        alternative_name:
          type: string
          xml:
            attribute: true
        gender:
          type: string
          xml:
            attribute: true
        id:
          description: Competition URN (sr:competition:x)
          type: string
          xml:
            attribute: true
        name:
          type: string
          xml:
            attribute: true
        parent_id:
          type: string
          xml:
            attribute: true
        type:
          type: string
          xml:
            attribute: true
      required:
      - id
      - name
      type: object
      xml:
        name: competition
    competition_extended:
      additionalProperties: false
      properties:
        alternative_name:
          type: string
          xml:
            attribute: true
        category:
          $ref: '#/components/schemas/category'
        children:
          items:
            $ref: '#/components/schemas/competition'
          type: array
          xml:
            name: children
            wrapped: true
        gender:
          type: string
          xml:
            attribute: true
        id:
          description: Competition URN (sr:competition:x)
          type: string
          xml:
            attribute: true
        name:
          type: string
          xml:
            attribute: true
        parent_id:
          type: string
          xml:
            attribute: true
        type:
          type: string
          xml:
            attribute: true
      required:
      - id
      - name
      type: object
      xml:
        name: competition
        x-sr-object-name: CompetitionExtended
    competition_with_category:
      additionalProperties: false
      properties:
        alternative_name:
          type: string
          xml:
            attribute: true
        category:
          $ref: '#/components/schemas/category'
        gender:
          type: string
          xml:
            attribute: true
        id:
          description: Competition URN (sr:competition:x)
          type: string
          xml:
            attribute: true
        name:
          type: string
          xml:
            attribute: true
        parent_id:
          type: string
          xml:
            attribute: true
        type:
          type: string
          xml:
            attribute: true
      required:
      - id
      - name
      type: object
      xml:
        name: competition
        x-sr-object-name: CompetitionWithCategory
    competitor:
      additionalProperties: false
      properties:
        abbreviation:
          type: string
          xml:
            attribute: true
        age_group:
          enum:
          - U23
          - U22
          - U21
          - U20
          - U19
          - U18
          - U17
          - U16
          - U15
          - U14
          - U13
          - U12
          - U11
          - Y10
          - Juniors
          - Youth
          - Unconfirmed
          type: string
          xml:
            attribute: true
            name: CompetitorAgeGroupEnum
        country:
          type: string
          xml:
            attribute: true
        country_code:
          type: string
          xml:
            attribute: true
        form:
          description: Most recent match to the right
          type: string
          xml:
            attribute: true
        gender:
          type: string
          xml:
            attribute: true
        id:
          description: Competitor URN (sr:competitor:x)
          type: string
          xml:
            attribute: true
        name:
          type: string
          xml:
            attribute: true
        other_season_id:
          description: URN
          type: string
          xml:
            attribute: true
        qualifier:
          $ref: '#/components/schemas/enum_competitor_qualifier'
        short_name:
          type: string
          xml:
            attribute: true
        virtual:
          type: boolean
          xml:
            attribute: true
      required:
      - id
      - name
      type: object
      xml:
        name: competitor
        x-sr-object-name: Competitor
    competitor_basics:
      properties:
        abbreviation:
          type: string
          xml:
            attribute: true
        id:
          type: string
          xml:
            attribute: true
        name:
          type: string
          xml:
            attribute: true
      type: object
      xml:
        name: competitor
    competitor_missing_player:
      additionalProperties: false
      properties:
        abbreviation:
          type: string
          xml:
            attribute: true
        id:
          description: Competitor URN (sr:competitor:x)
          type: string
          xml:
            attribute: true
        name:
          type: string
          xml:
            attribute: true
        players:
          items:
            $ref: '#/components/schemas/missing_player'
          type: array
          xml:
            name: players
            wrapped: true
            x-sr-object-name: SeasonMissingPlayersCompetitorPlayers
      required:
      - id
      - name
      type: object
      xml:
        name: competitor
        x-sr-object-name: SeasonMissingPlayersCompetitor
    competitor_over_under:
      properties:
        age_group:
          type: string
          xml:
            attribute: true
        competitor_over_under_statistics:
          items:
            $ref: '#/components/schemas/over_under_statistics_list'
          type: array
          xml:
            name: competitor_over_under_statistics
            wrapped: true
            x-sr-object-name: OverUnderStatisticsCompetitor
        id:
          description: Competitor URN (sr:competitor:x)
          type: string
          xml:
            attribute: true
        name:
          type: string
          xml:
            attribute: true
      required:
      - id
      - name
      type: object
      xml:
        name: competitor
        x-sr-object-name: CompetitorOverUnder
    coverage:
      additionalProperties: false
      description: Describes the expected coverage for different entities within this
        type.  When type="sport_event" you will only get sport_event_properties.  When
        type="competition" you will get sport_event_properties and competition_properties.
        When type="group" you will get group_properties and sport_event_properties.
      properties:
        competition_properties:
          $ref: '#/components/schemas/coverage_competition_properties'
        group_properties:
          $ref: '#/components/schemas/coverage_group_properties'
        sport_event_properties:
          $ref: '#/components/schemas/coverage_sport_event_properties'
        type:
          enum:
          - sport_event
          - group
          - competition
          type: string
          xml:
            attribute: true
            name: CoverageTypeEnum
      type: object
      xml:
        name: coverage
        x-sr-object-name: Coverage
    coverage_competition_properties:
      properties:
        brackets:
          type: boolean
          xml:
            attribute: true
        missing_players:
          type: boolean
          xml:
            attribute: true
        player_transfer_history:
          type: boolean
          xml:
            attribute: true
        schedules:
          type: boolean
          xml:
            attribute: true
        season_player_statistics:
          type: boolean
          xml:
            attribute: true
        season_probabilities:
          type: boolean
          xml:
            attribute: true
        season_stats_leaders:
          type: boolean
          xml:
            attribute: true
        season_team_statistics:
          type: boolean
          xml:
            attribute: true
        standings:
          enum:
          - live
          - post
          - "false"
          type: string
          xml:
            attribute: true
            name: CoverageCompetitionPropertiesStandingsEnum
        team_squads:
          type: boolean
          xml:
            attribute: true
      type: object
      xml:
        name: competition_properties
    coverage_group_properties:
      properties:
        brackets:
          type: boolean
          xml:
            attribute: true
        cup:
          type: boolean
          xml:
            attribute: true
        group_stage:
          type: boolean
          xml:
            attribute: true
        league:
          type: boolean
          xml:
            attribute: true
        missing_players:
          type: boolean
          xml:
            attribute: true
        qualification:
          type: boolean
          xml:
            attribute: true
        results:
          type: boolean
          xml:
            attribute: true
        schedules:
          type: boolean
          xml:
            attribute: true
        standings:
          enum:
          - live
          - post
          - "false"
          type: string
          xml:
            attribute: true
            name: CoverageGroupPropertiesStandingsEnum
      type: object
      xml:
        name: group_properties
    coverage_sport_event_properties:
      properties:
        assists:
          type: boolean
          xml:
            attribute: true
        ballspotting:
          type: boolean
          xml:
            attribute: true
        basic_play_by_play:
          type: boolean
          xml:
            attribute: true
        basic_player_stats:
          type: boolean
          xml:
            attribute: true
        basic_team_stats:
          type: boolean
          xml:
            attribute: true
        commentary:
          type: boolean
          xml:
            attribute: true
        deeper_play_by_play:
          type: boolean
          xml:
            attribute: true
        deeper_player_stats:
          description: Only available in the the extended soccer package.
          type: boolean
          xml:
            attribute: true
        deeper_team_stats:
          description: Only available in the the extended soccer package.
          type: boolean
          xml:
            attribute: true
        extended_play_by_play:
          type: boolean
          xml:
            attribute: true
        extended_player_stats:
          type: boolean
          xml:
            attribute: true
        extended_team_stats:
          type: boolean
          xml:
            attribute: true
        formations:
          type: boolean
          xml:
            attribute: true
        fun_facts:
          type: boolean
          xml:
            attribute: true
        game_clock:
          type: boolean
          xml:
            attribute: true
        goal_scorers:
          type: boolean
          xml:
            attribute: true
        goal_scorers_live:
          type: boolean
          xml:
            attribute: true
        lineups:
          type: boolean
          xml:
            attribute: true
        lineups_availability:
          description: Describes availability of lineups (pre match, post match)
          enum:
          - pre
          - post
          type: string
          xml:
            attribute: true
            name: CoverageSportEventPropertiesLineupsAvailabilityEnum
        probabilities:
          type: boolean
          xml:
            attribute: true
        scores:
          enum:
          - live
          - post
          type: string
          xml:
            attribute: true
            name: CoverageSportEventPropertiesScoresEnum
        venue:
          type: boolean
          xml:
            attribute: true
      type: object
      xml:
        name: sport_event_properties
    enum_action_type:
      description: extended timeline only
      enum:
      - regular
      - side
      - long
      - ground
      - aerial
      - collapse
      - diving
      - kneeling
      - overhead
      - standing
      type: string
      xml:
        attribute: true
        name: ActionTypeEnum
    enum_additional_outcome:
      description: extended timeline only
      enum:
      - hit_woodwork
      - goal
      - saved
      - goal_prevented
      type: string
      xml:
        attribute: true
        name: AdditionalOutcomeEnum
    enum_body_type:
      description: extended timeline only
      enum:
      - left_foot
      - right_foot
      - head
      - upper_body
      - lower_body
      - other
      type: string
      xml:
        attribute: true
        name: BodyTypeEnum
    enum_card_description:
      description: describes if card was obtained pre/after match, on bench, during
        penalty etc.
      enum:
      - pre_match
      - half_time
      - post_match
      - player_on_bench
      - first_half
      - second_half
      - during_penalty_shootout
      type: string
      xml:
        attribute: true
        name: CardDescriptionEnum
    enum_competition_status:
      enum:
      - delayed
      - closed
      - completed
      - in_progress
      - scheduled
      - suspended
      - cancelled
      - rescheduled
      - postponed
      type: string
      xml:
        attribute: true
        name: CompetitionStatusEnum
    enum_competitor_qualifier:
      enum:
      - home
      - away
      type: string
      xml:
        attribute: true
        name: CompetitorQualifierEnum
    enum_corner_type:
      description: extended timeline only
      enum:
      - short
      - direct_into_penalty_area
      - edge_of_penalty_area
      type: string
      xml:
        attribute: true
        name: CornerTypeEnum
    enum_direction:
      description: extended timeline only
      enum:
      - forward
      - diagonal
      - sideways_left
      - sideways_right
      - backward
      type: string
      xml:
        attribute: true
        name: DirectionEnum
    enum_event_method:
      enum:
      - penalty
      - own_goal
      - header
      - shot
      - free_kick
      type: string
      xml:
        attribute: true
        name: EventMethodEnum
    enum_event_player_type:
      enum:
      - shot_taker
      - scorer
      - assist
      - substituted_in
      - substituted_out
      - fouler
      - fouled
      - passer
      - receiver
      - tackler
      - won_by
      - lost_by
      type: string
      xml:
        attribute: true
        name: EventPlayerTypeEnum
    enum_event_type:
      description: |
        cross, foul, interception, pass, goal_prevented_by are extended_timeline only.
      enum:
      - break_start
      - canceled_decision_to_var
      - corner_kick
      - cross
      - decision_to_var
      - decision_to_var_over
      - dribble
      - free_kick
      - foul
      - goal_kick
      - injury
      - injury_return
      - injury_time_shown
      - interception
      - match_ended
      - match_started
      - offside
      - pass
      - penalty_awarded
      - penalty_kick
      - penalty_missed
      - penalty_shootout
      - period_score
      - period_start
      - player_back_from_injury
      - possible_decision_to_var
      - possible_goal
      - red_card
      - save
      - score_change
      - shot_on_target
      - shot_off_target
      - shot_saved
      - substitution
      - tackle
      - throw_in
      - video_assistant_referee
      - video_assistant_referee_over
      - yellow_card
      - yellow_red_card
      - goal_prevented_by
      type: string
      xml:
        attribute: true
        name: EventTypeEnum
    enum_formation:
      enum:
      - 3-2-2-3
      - 3-2-3-2
      - 3-2-4-1
      - 3-4-1-2
      - 3-4-3
      - 3-5-2
      - 4-1-2-3
      - 4-1-3-2
      - 4-1-4-1
      - 4-2-2-2
      - 4-2-3-1
      - 4-3-1-2
      - 4-3-2-1
      - 4-3-3
      - 4-4-1-1
      - 4-4-2
      - 4-5-1
      - 5-2-3
      - 5-3-2
      - 5-4-1
      - 5-1-3-1
      - 3-4-2-1
      - 3-1-4-2
      - 3-3-1-3
      - 3-3-3-1
      - 3-5-1-1
      - 4-1-2-1-2
      - 4-2-1-2-1
      - 4-2-1-3
      - 4-2-4
      - 5-2-1-2
      - 5-2-2-1
      type: string
      xml:
        attribute: true
        name: FormationEnum
    enum_free_kick_type:
      description: extended timeline only
      enum:
      - direct
      - indirect
      type: string
      xml:
        attribute: true
        name: FreeKickTypeEnum
    enum_gender:
      enum:
      - female
      - male
      type: string
      xml:
        attribute: true
        name: GenderEnum
    enum_leader_list_datapoint_type:
      enum:
      - goals
      - assists
      - red_cards
      - yellow_red_cards
      - yellow_cards
      - own_goals
      type: string
      xml:
        attribute: true
        name: LeaderListDatapointTypeEnum
    enum_leader_list_type:
      description: 'the following types are for the extended package only: shots_on/off_target,
        goals_by_head/penalty, minutes_played'
      enum:
      - points
      - goals
      - assists
      - red_cards
      - yellow_red_cards
      - yellow_cards
      - own_goals
      - shots_on_target
      - shots_off_target
      - goals_by_head
      - goals_by_penalty
      - minutes_played
      type: string
      xml:
        attribute: true
        name: LeaderListTypeEnum
    enum_match_situation:
      enum:
      - safe
      - dangerous
      - attack
      type: string
      xml:
        attribute: true
        name: MatchSituationEnum
    enum_missing_player_reason:
      enum:
      - on_loan
      - injured
      - suspended
      - other
      type: string
      xml:
        attribute: true
        name: MissingPlayerReasonEnum
    enum_missing_player_status:
      enum:
      - missing
      - doubtful
      - other
      type: string
      xml:
        attribute: true
        name: MissingPlayerStatusEnum
    enum_outcome:
      description: Some details are only available in extended.
      enum:
      - bar
      - complete
      - deflected_on_target
      - deflected_off_target
      - incomplete
      - interrupted
      - miss
      - out_of_play_interrupted
      - out_of_play_lost
      - on_target
      - off_target
      - own_goal
      - post
      - successful
      - unsuccessful
      type: string
      xml:
        attribute: true
        name: OutcomeEnum
    enum_passing_range:
      description: extended timeline only
      enum:
      - short
      - medium
      - long
      type: string
      xml:
        attribute: true
        name: PassingRangeEnum
    enum_penalty_shootout_status:
      enum:
      - missed
      - scored
      - not_taken_yet
      type: string
      xml:
        attribute: true
        name: PenaltyShootoutStatusEnum
    enum_period_type:
      enum:
      - regular_period
      - overtime
      - penalties
      - pause
      - awaiting_extra
      - extra_time_halftime
      - interrupted
      type: string
      xml:
        attribute: true
        name: PeriodTypeEnum
    enum_phase:
      enum:
      - stage_1_playoff
      - 1st_part_of_season_1st_leg
      - 2nd_part_of_season_2nd_leg
      - 3rd_round
      - champions_round
      - conference
      - division
      - final_eight
      - final_four
      - final_phase
      - final_round
      - final_stage
      - grand_final
      - grand_finals
      - group_phase_1
      - group_phase_2
      - knockout_stage
      - main_round_1
      - main_round_2
      - none
      - placement_matches
      - placement_matches_13_to_16
      - placement_matches_5_to_8
      - placement_matches_9_to_12
      - placement_matches_9_to_16
      - playoffs
      - playout
      - pre-season
      - preliminary_round
      - president_cup
      - promotion_playoffs
      - promotion_round
      - qualification
      - qualification_playoffs
      - qualification_to_allsvenskan
      - regular season
      - relegation_playoffs
      - relegation_promotion
      - relegation_promotion_round
      - relegation_round
      - stage_1 no_stats
      - stage_2 no_stats
      - stage_1
      - stage_2
      - stage_3
      - uefa_europa_league_playoffs
      - stage_2_placement_matches
      type: string
      xml:
        attribute: true
        name: PhaseEnum
    enum_player_role_type:
      enum:
      - player
      - manager
      - on_loan
      - unemployed
      - other
      type: string
      xml:
        attribute: true
        name: PlayerRoleTypeEnum
    enum_player_type:
      enum:
      - goalkeeper
      - defender
      - midfielder
      - forward
      type: string
      xml:
        attribute: true
        name: PlayerTypeEnum
    enum_reason_type:
      description: extended timeline only
      enum:
      - charge
      - handball
      - hold
      - jumps_at
      - kick
      - push
      - strike
      - tackle
      - trip
      - aggressive_behaviour
      - biting_spitting
      - dogso_handball
      - dogso_outside_penalty_area
      - dogso_penalty_area
      - entering_opposing_technical_area_aggressively
      - leaving_technical_area_bad_behaviour
      - offensive_actions
      - second_caution
      - serious_foul_play
      - throwing_kicking_object
      - unsporting_behaviour
      - violent_conduct
      type: string
      xml:
        attribute: true
        name: FoulTypeEnum
    enum_referee_type:
      enum:
      - first_assistant_referee
      - second_assistant_referee
      - fourth_official
      - video_assistant_referee
      - first_additional_assistant
      - second_additional_assistant
      - main_referee
      type: string
      xml:
        attribute: true
        name: RefereeTypeEnum
    enum_sport_event_match_status:
      description: aet = After Extra Time, ap = After Penalties
      enum:
      - not_started
      - started
      - 1st_half
      - halftime
      - 2nd_half
      - aet
      - ap
      - ended
      - postponed
      - cancelled
      - awaiting_extra_time
      - awaiting_penalties
      - abandoned
      - 1st_extra
      - 2nd_extra
      - extra_time_halftime
      - penalties
      - interrupted
      - overtime
      - start_delayed
      type: string
      xml:
        attribute: true
        name: SportEventMatchStatusEnum
    enum_sport_event_status:
      enum:
      - not_started
      - started
      - postponed
      - suspended
      - cancelled
      - delayed
      - live
      - interrupted
      - ended
      - closed
      - abandoned
      type: string
      xml:
        attribute: true
        name: SportEventStatusEnum
    enum_stage_type:
      enum:
      - cup
      - league
      type: string
      xml:
        attribute: true
        name: StageTypeEnum
    enum_style:
      description: extended timeline only
      enum:
      - inswing
      - outswing
      - lofted
      - driven
      - cutback
      - push
      type: string
      xml:
        attribute: true
        name: StyleEnum
    enum_trajectory:
      description: extended timeline only
      enum:
      - flat
      - high
      type: string
      xml:
        attribute: true
        name: TrajectoryEnum
    enum_type_of_play:
      description: extended timeline only
      enum:
      - set_piece
      - open_play
      - individual
      type: string
      xml:
        attribute: true
        name: TypeOfPlayEnum
    enum_var_decision:
      enum:
      - pending
      - cancelled
      - upheld
      - overturned
      type: string
      xml:
        attribute: true
        name: VarDescriptionEnum
    enum_var_description:
      enum:
      - goal
      - penalty
      - red_card
      - no_goal
      - no_penalty
      - no_red_card
      type: string
      xml:
        attribute: true
        name: VarDescriptionEnum
    enum_weather_overall_conditions:
      enum:
      - good
      - medium
      - bad
      - indoor
      - extreme
      type: string
      xml:
        attribute: true
        name: WeatherOverallConditionsEnum
    enum_weather_pitch_conditions:
      enum:
      - good
      - medium
      - bad
      type: string
      xml:
        attribute: true
        name: WeatherPitchConditionsEnum
    event_player:
      additionalProperties: false
      properties:
        competitor_id:
          type: string
          xml:
            attribute: true
        id:
          type: string
          xml:
            attribute: true
        name:
          type: string
          xml:
            attribute: true
        type:
          $ref: '#/components/schemas/enum_event_player_type'
      required:
      - id
      - name
      type: object
      xml:
        name: player
        x-sr-object-name: EventPlayer
    fact:
      additionalProperties: false
      properties:
        statement:
          example: Italy scores 1.86 goals when playing at home and Ecuador scores
            2 goals when playing away (on average).
          type: string
          xml:
            attribute: true
      type: object
      xml:
        name: fact
    form_standing_competitor:
      additionalProperties: false
      properties:
        competitor:
          $ref: '#/components/schemas/competitor'
        draw:
          type: integer
          xml:
            attribute: true
        form:
          type: string
          xml:
            attribute: true
        goals_against:
          type: integer
          xml:
            attribute: true
        goals_diff:
          type: integer
          xml:
            attribute: true
        goals_for:
          type: integer
          xml:
            attribute: true
        loss:
          type: integer
          xml:
            attribute: true
        played:
          type: integer
          xml:
            attribute: true
        points:
          type: integer
          xml:
            attribute: true
        rank:
          type: integer
          xml:
            attribute: true
        win:
          type: integer
          xml:
            attribute: true
      type: object
      xml:
        name: form_standing
        x-sr-object-name: form_standing_competitor
    formation:
      properties:
        type:
          $ref: '#/components/schemas/enum_formation'
      type: object
      x-sr-object-name: CompetitorFormation
      xml:
        name: formation
    generic_event:
      additionalProperties: false
      properties:
        action_type:
          $ref: '#/components/schemas/enum_action_type'
        additional_outcome:
          $ref: '#/components/schemas/enum_additional_outcome'
        away_score:
          type: integer
          xml:
            attribute: true
        body_type:
          $ref: '#/components/schemas/enum_body_type'
        break_name:
          type: string
          xml:
            attribute: true
        card_description:
          $ref: '#/components/schemas/enum_card_description'
        commentaries:
          items:
            $ref: '#/components/schemas/commentary'
          type: array
          xml:
            name: commentaries
            wrapped: true
            x-sr-object-name: EventCommentaries
        competitor:
          $ref: '#/components/schemas/enum_competitor_qualifier'
        corner_type:
          $ref: '#/components/schemas/enum_corner_type'
        counterattack:
          description: extended timeline only
          type: boolean
          xml:
            attribute: true
        decision:
          $ref: '#/components/schemas/enum_var_decision'
        description:
          $ref: '#/components/schemas/enum_var_description'
        direction:
          $ref: '#/components/schemas/enum_direction'
        distance:
          description: extended timeline only
          type: integer
          xml:
            attribute: true
        free_kick_type:
          $ref: '#/components/schemas/enum_free_kick_type'
        goalface_x:
          description: extended timeline only
          type: integer
          xml:
            attribute: true
        goalface_y:
          description: extended timeline only
          type: integer
          xml:
            attribute: true
        home_score:
          type: integer
          xml:
            attribute: true
        id:
          type: integer
          xml:
            attribute: true
        in_penalty_area:
          description: extended timeline only
          type: boolean
          xml:
            attribute: true
        injury_time_announced:
          type: integer
          xml:
            attribute: true
        match_clock:
          type: string
          xml:
            attribute: true
        match_time:
          type: integer
          xml:
            attribute: true
        method:
          $ref: '#/components/schemas/enum_event_method'
        outcome:
          $ref: '#/components/schemas/enum_outcome'
        passing_range:
          $ref: '#/components/schemas/enum_passing_range'
        period:
          description: Period number
          type: integer
          xml:
            attribute: true
        period_name:
          type: string
          xml:
            attribute: true
        period_type:
          $ref: '#/components/schemas/enum_period_type'
        players:
          items:
            $ref: '#/components/schemas/event_player'
          type: array
          xml:
            name: players
            wrapped: true
            x-sr-object-name: EventPlayers
        reason:
          $ref: '#/components/schemas/enum_reason_type'
        shootout_away_score:
          type: integer
          xml:
            attribute: true
        shootout_home_score:
          type: integer
          xml:
            attribute: true
        status:
          $ref: '#/components/schemas/enum_penalty_shootout_status'
        stoppage_time:
          type: integer
          xml:
            attribute: true
        stoppage_time_clock:
          type: string
          xml:
            attribute: true
        style:
          $ref: '#/components/schemas/enum_style'
        time:
          format: date-time
          type: string
          xml:
            attribute: true
        trajectory:
          $ref: '#/components/schemas/enum_trajectory'
        type:
          $ref: '#/components/schemas/enum_event_type'
        type_of_play:
          $ref: '#/components/schemas/enum_type_of_play'
        updated:
          type: boolean
          xml:
            attribute: true
        updated_start_time:
          format: date-time
          type: string
          xml:
            attribute: true
        updated_time:
          format: date-time
          type: string
          xml:
            attribute: true
        x:
          type: integer
          xml:
            attribute: true
        xg_value:
          description: extended timeline only
          format: float
          type: number
          xml:
            attribute: true
        "y":
          type: integer
          xml:
            attribute: true
      required:
      - id
      - type
      - time
      type: object
      xml:
        name: event
    info:
      additionalProperties: false
      properties:
        competition_status:
          $ref: '#/components/schemas/enum_competition_status'
        venue_reduced_capacity:
          type: boolean
          xml:
            attribute: true
        venue_reduced_capacity_max:
          type: integer
          xml:
            attribute: true
      type: object
      xml:
        name: info
    internal_mapping:
      properties:
        id:
          type: string
          xml:
            attribute: true
        name:
          type: string
          xml:
            attribute: true
      required:
      - id
      type: object
      xml:
        name: mapping
        x-sr-object-name: InternalMapping
    jersey:
      additionalProperties: false
      properties:
        base:
          type: string
          xml:
            attribute: true
        horizontal_stripes:
          type: boolean
          xml:
            attribute: true
        horizontal_stripes_color:
          type: string
          xml:
            attribute: true
        number:
          type: string
          xml:
            attribute: true
        shirt_type:
          type: string
          xml:
            attribute: true
        sleeve:
          type: string
          xml:
            attribute: true
        sleeve_detail:
          type: string
          xml:
            attribute: true
        split:
          type: boolean
          xml:
            attribute: true
        split_color:
          type: string
          xml:
            attribute: true
        squares:
          type: boolean
          xml:
            attribute: true
        squares_color:
          type: string
          xml:
            attribute: true
        stripes:
          type: boolean
          xml:
            attribute: true
        stripes_color:
          type: string
          xml:
            attribute: true
        type:
          type: string
          xml:
            attribute: true
      type: object
      xml:
        name: jersey
    leader:
      additionalProperties: false
      properties:
        players:
          items:
            $ref: '#/components/schemas/leader_player'
          type: array
          xml:
            name: players
            wrapped: true
            x-sr-object-name: LeaderPlayers
        rank:
          example: 1
          type: integer
          xml:
            attribute: true
      type: object
      xml:
        name: leader
    leader_player:
      additionalProperties: false
      properties:
        competitors:
          items:
            $ref: '#/components/schemas/leader_player_competitor'
          type: array
          xml:
            name: competitors
            wrapped: true
            x-sr-object-name: LeaderPlayerCompetitors
        id:
          type: string
          xml:
            attribute: true
        multiple_competitors:
          description: True if the player has played for multiple competitors in the
            season in question
          type: boolean
          xml:
            attribute: true
        name:
          type: string
          xml:
            attribute: true
      type: object
      xml:
        name: player
        x-sr-object-name: LeaderPlayer
    leader_player_competitor:
      properties:
        abbreviation:
          type: string
          xml:
            attribute: true
        datapoints:
          items:
            $ref: '#/components/schemas/leader_player_competitor_datapoint'
          type: array
          xml:
            name: datapoints
            wrapped: true
            x-sr-object-name: LeaderPlayerCompetitorDatapoints
        id:
          type: string
          xml:
            attribute: true
        name:
          type: string
          xml:
            attribute: true
      type: object
      xml:
        name: competitor
        x-sr-object-name: LeaderPlayerCompetitor
    leader_player_competitor_datapoint:
      properties:
        type:
          $ref: '#/components/schemas/enum_leader_list_datapoint_type'
        value:
          example: 23
          type: integer
          xml:
            attribute: true
      type: object
      xml:
        name: datapoint
        x-sr-object-name: LeaderPlayerCompetitorDatapoint
    leaders:
      additionalProperties: false
      properties:
        leaders:
          items:
            $ref: '#/components/schemas/leader'
          maxItems: 10
          type: array
          xml:
            name: leaders
            wrapped: true
        type:
          $ref: '#/components/schemas/enum_leader_list_type'
      required:
      - type
      type: object
      xml:
        name: list
    lineup_competitor:
      additionalProperties: false
      properties:
        abbreviation:
          type: string
          xml:
            attribute: true
        age_group:
          enum:
          - U23
          - U22
          - U21
          - U20
          - U19
          - U18
          - U17
          - U16
          - U15
          - U14
          - U13
          - U12
          - U11
          - Y10
          - Juniors
          - Youth
          - Unconfirmed
          type: string
          xml:
            attribute: true
            name: LineupCompetitorAgeGroupEnum
        country:
          type: string
          xml:
            attribute: true
        country_code:
          type: string
          xml:
            attribute: true
        formation:
          $ref: '#/components/schemas/formation'
        gender:
          type: string
          xml:
            attribute: true
        id:
          description: Competitor URN (sr:competitor:x)
          type: string
          xml:
            attribute: true
        jersey:
          $ref: '#/components/schemas/jersey'
        manager:
          $ref: '#/components/schemas/manager'
        name:
          type: string
          xml:
            attribute: true
        players:
          items:
            $ref: '#/components/schemas/lineup_player'
          type: array
          xml:
            name: players
            wrapped: true
            x-sr-object-name: CompetitorLineupPlayers
        qualifier:
          type: string
          xml:
            attribute: true
        virtual:
          type: boolean
          xml:
            attribute: true
      required:
      - id
      - name
      type: object
      xml:
        name: competitor
        x-sr-object-name: CompetitorLineup
    lineup_player:
      additionalProperties: false
      properties:
        country_code:
          type: string
          xml:
            attribute: true
        country_of_birth:
          type: string
          xml:
            attribute: true
        date_of_birth:
          description: YYYY-MM-DD
          format: date
          type: string
          xml:
            attribute: true
        gender:
          $ref: '#/components/schemas/enum_gender'
        height:
          description: Height in cm
          type: integer
          xml:
            attribute: true
        id:
          type: string
          xml:
            attribute: true
        jersey_number:
          type: integer
          xml:
            attribute: true
        loaned_to_competitor_id:
          type: string
          xml:
            attribute: true
        name:
          type: string
          xml:
            attribute: true
        nationality:
          type: string
          xml:
            attribute: true
        nickname:
          type: string
          xml:
            attribute: true
        on_loan:
          type: boolean
          xml:
            attribute: true
        order:
          type: integer
          xml:
            attribute: true
        place_of_birth:
          type: string
          xml:
            attribute: true
        played:
          type: boolean
          xml:
            attribute: true
        position:
          enum:
          - goalkeeper
          - right_back
          - central_defender
          - left_back
          - right_winger
          - central_midfielder
          - left_winger
          - striker
          - fullback
          type: string
          xml:
            attribute: true
            name: LineupPlayerPositionEnum
        preferred_foot:
          enum:
          - right
          - left
          - both
          type: string
          xml:
            attribute: true
            name: PlayerPreferredFootEnum
        starter:
          type: boolean
          xml:
            attribute: true
        type:
          $ref: '#/components/schemas/enum_player_type'
        weight:
          description: Weight in kg
          type: integer
          xml:
            attribute: true
      required:
      - id
      - name
      type: object
      xml:
        name: player
        x-sr-object-name: LineupPlayer
    manager:
      additionalProperties: false
      properties:
        country_code:
          type: string
          xml:
            attribute: true
        date_of_birth:
          description: YYYY-MM-DD
          format: date
          type: string
          xml:
            attribute: true
        gender:
          $ref: '#/components/schemas/enum_gender'
        id:
          type: string
          xml:
            attribute: true
        name:
          type: string
          xml:
            attribute: true
        nationality:
          type: string
          xml:
            attribute: true
        nickname:
          type: string
          xml:
            attribute: true
        place_of_birth:
          type: string
          xml:
            attribute: true
        preferred_foot:
          enum:
          - right
          - left
          - both
          type: string
          xml:
            attribute: true
            name: ManagerPreferredFootEnum
      required:
      - id
      - name
      type: object
      xml:
        name: manager
    mapping:
      properties:
        external_id:
          type: string
          xml:
            attribute: true
        id:
          type: string
          xml:
            attribute: true
        merged_id:
          type: string
          xml:
            attribute: true
        retained_id:
          type: string
          xml:
            attribute: true
      type: object
      xml:
        name: mapping
        x-sr-object-name: ExternalMapping
    match_situation:
      additionalProperties: false
      properties:
        qualifier:
          $ref: '#/components/schemas/enum_competitor_qualifier'
        status:
          $ref: '#/components/schemas/enum_match_situation'
        updated_at:
          format: date-time
          type: string
          xml:
            attribute: true
      type: object
      xml:
        name: match_situation
    merge_mapping:
      additionalProperties: false
      properties:
        merged_id:
          type: string
          xml:
            attribute: true
        name:
          type: string
          xml:
            attribute: true
        retained_id:
          type: string
          xml:
            attribute: true
      required:
      - merged_id
      - retained_id
      type: object
      xml:
        name: mapping
        x-sr-object-name: MergeMapping
    missing_player:
      properties:
        id:
          type: string
          xml:
            attribute: true
        name:
          type: string
          xml:
            attribute: true
        reason:
          $ref: '#/components/schemas/enum_missing_player_reason'
        start_date:
          format: date-time
          type: string
          xml:
            attribute: true
        status:
          $ref: '#/components/schemas/enum_missing_player_status'
      required:
      - id
      - name
      type: object
      xml:
        name: player
        x-sr-object-name: SeasonMissingPlayersCompetitorPlayer
    over_under_statistic:
      properties:
        goals:
          example: 2.5
          format: double
          type: number
          xml:
            attribute: true
        over:
          type: integer
          xml:
            attribute: true
        under:
          type: integer
          xml:
            attribute: true
      type: object
      xml:
        name: statistic
        x-sr-object-name: OverUnderStatistic
    over_under_statistics_list:
      properties:
        statistics:
          items:
            $ref: '#/components/schemas/over_under_statistic'
          type: array
          xml:
            name: statistics
            wrapped: true
            x-sr-object-name: OverUnderStatistics
        type:
          type: string
          xml:
            attribute: true
      type: object
      xml:
        name: over_under_statistics_list
        wrapped: true
        x-sr-object-name: OverUnderStatisticsList
    period_score:
      additionalProperties: false
      properties:
        away_score:
          type: integer
          xml:
            attribute: true
        home_score:
          type: integer
          xml:
            attribute: true
        number:
          type: integer
          xml:
            attribute: true
        type:
          $ref: '#/components/schemas/enum_period_type'
      required:
      - home_score
      - away_score
      type: object
      xml:
        name: period_score
    player:
      additionalProperties: false
      properties:
        country_code:
          type: string
          xml:
            attribute: true
        country_of_birth:
          type: string
          xml:
            attribute: true
        date_of_birth:
          description: YYYY-MM-DD
          format: date
          type: string
          xml:
            attribute: true
        gender:
          $ref: '#/components/schemas/enum_gender'
        height:
          description: Height in cm
          type: integer
          xml:
            attribute: true
        id:
          type: string
          xml:
            attribute: true
        jersey_number:
          type: integer
          xml:
            attribute: true
        loaned_to_competitor_id:
          type: string
          xml:
            attribute: true
        name:
          type: string
          xml:
            attribute: true
        nationality:
          type: string
          xml:
            attribute: true
        nickname:
          type: string
          xml:
            attribute: true
        on_loan:
          type: boolean
          xml:
            attribute: true
        place_of_birth:
          type: string
          xml:
            attribute: true
        preferred_foot:
          enum:
          - right
          - left
          - both
          type: string
          xml:
            attribute: true
            name: PlayerPreferredFootEnum
        type:
          $ref: '#/components/schemas/enum_player_type'
        weight:
          description: Weight in kg
          type: integer
          xml:
            attribute: true
      required:
      - id
      - name
      type: object
      xml:
        name: player
    player_basics:
      additionalProperties: false
      properties:
        id:
          type: string
          xml:
            attribute: true
        name:
          type: string
          xml:
            attribute: true
      type: object
      xml:
        name: player
    player_role:
      additionalProperties: false
      properties:
        active:
          type: boolean
          xml:
            attribute: true
        competitor:
          $ref: '#/components/schemas/competitor'
        end_date:
          pattern: ^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$
          type: string
          xml:
            attribute: true
        jersey_number:
          type: integer
          xml:
            attribute: true
        start_date:
          pattern: ^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$
          type: string
          xml:
            attribute: true
        type:
          $ref: '#/components/schemas/enum_player_role_type'
      required:
      - type
      - active
      type: object
      xml:
        name: role
    probability_market_two_three_way:
      additionalProperties: false
      properties:
        away_score:
          type: integer
          xml:
            attribute: true
        home_score:
          type: integer
          xml:
            attribute: true
        last_updated:
          format: date-time
          type: string
          xml:
            attribute: true
        live:
          type: boolean
          xml:
            attribute: true
        match_time:
          description: '[0-9]+:[0-9]+|[0-9]+'
          type: string
          xml:
            attribute: true
        name:
          enum:
          - 2way
          - 3way
          type: string
          xml:
            attribute: true
            name: ProbabilityMarketTwoThreeWayEnum
        outcomes:
          items:
            $ref: '#/components/schemas/probability_outcome_two_three_way'
          type: array
          xml:
            name: outcomes
            wrapped: true
        remaining_time:
          description: '[0-9]+:[0-9]+|[0-9]+'
          type: string
          xml:
            attribute: true
        remaining_time_in_period:
          description: '[0-9]+:[0-9]+|[0-9]+'
          type: string
          xml:
            attribute: true
      required:
      - name
      - outcomes
      type: object
      xml:
        name: market
        x-sr-object-name: ProbabilityMarketTwoThreeWay
    probability_outcome_two_three_way:
      additionalProperties: false
      properties:
        name:
          enum:
          - home_team_winner
          - away_team_winner
          - draw
          - home_team_next_goal
          - away_team_next_goal
          - none
          type: string
          xml:
            attribute: true
            name: ProbabilityOutcomeTwoThreeWayEnum
        probability:
          format: float
          type: number
          xml:
            attribute: true
      type: object
      xml:
        name: outcome
        x-sr-object-name: ProbabilityOutcomeTwoThreeWay
    referee:
      properties:
        country_code:
          type: string
          xml:
            attribute: true
        id:
          type: string
          xml:
            attribute: true
        name:
          type: string
          xml:
            attribute: true
        nationality:
          type: string
          xml:
            attribute: true
        type:
          $ref: '#/components/schemas/enum_referee_type'
      type: object
      x-sr-object-name: SportEventConditionsReferee
      xml:
        name: referee
    schedule:
      additionalProperties: false
      properties:
        sport_event:
          $ref: '#/components/schemas/sport_event'
        sport_event_status:
          $ref: '#/components/schemas/sport_event_status'
      required:
      - sport_event
      - sport_event_status
      type: object
      xml:
        name: schedule
    season:
      additionalProperties: false
      properties:
        competition_id:
          type: string
          xml:
            attribute: true
        disabled:
          type: boolean
          xml:
            attribute: true
        end_date:
          format: date
          type: string
          xml:
            attribute: true
        id:
          description: URN
          type: string
          xml:
            attribute: true
        name:
          type: string
          xml:
            attribute: true
        start_date:
          format: date
          type: string
          xml:
            attribute: true
        year:
          type: string
          xml:
            attribute: true
      required:
      - id
      - name
      - start_date
      - end_date
      - year
      - competition_id
      type: object
      xml:
        name: season
    season_brackets_cup_round:
      properties:
        id:
          description: Cup round id URN (sr:cup_round:x)
          type: string
          xml:
            attribute: true
        linked_cup_rounds:
          items:
            $ref: '#/components/schemas/season_brackets_cup_round_linked'
          type: array
          xml:
            name: linked_cup_rounds
            wrapped: true
            x-sr-object-name: SeasonBracketsCupRoundLinkedCupRounds
        name:
          description: Name of round. Ex. quarterfinal
          type: string
          xml:
            attribute: true
        order:
          type: integer
          xml:
            attribute: true
        sport_events:
          items:
            $ref: '#/components/schemas/season_brackets_cup_round_sport_event'
          type: array
          xml:
            name: sport_events
            wrapped: true
            x-sr-object-name: SeasonBracketsCupRoundSportEvents
        state:
          description: Ex. ended, decided, unstarted, cancelled, winner
          type: string
          xml:
            attribute: true
        winner_id:
          description: Competitor URN. Ex. sr:competitor:23432
          type: string
          xml:
            attribute: true
      required:
      - id
      type: object
      xml:
        name: cup_round
        x-sr-object-name: SeasonBracketsCupRound
    season_brackets_cup_round_linked:
      properties:
        id:
          description: Cup round id URN (sr:cup_round:x)
          type: string
          xml:
            attribute: true
        name:
          description: Name of round. Ex. quarterfinal
          type: string
          xml:
            attribute: true
        order:
          type: integer
          xml:
            attribute: true
        state:
          description: Ex. winner, decided, unstarted, cancelled
          type: string
          xml:
            attribute: true
        type:
          enum:
          - parent
          - child
          type: string
          xml:
            attribute: true
            name: type
            x-sr-object-name: SeasonBracketsCupRoundLinkedType
        winner_id:
          description: Competitor URN. Ex. sr:competitor:23432
          type: string
          xml:
            attribute: true
      required:
      - id
      - type
[...]
